examples/hairstyle-changer-pro-demo.json
{
  "name": "Hairstyle Changer Pro n8n Demo",
  "nodes": [
    {
      "parameters": {},
      "id": "11111111-1111-4111-8111-111111111111",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "operation": "read",
        "fileSelector": "/path/to/portrait.png",
        "options": {
          "dataPropertyName": "data"
        }
      },
      "id": "22222222-2222-4222-8222-222222222222",
      "name": "Read Test Image",
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1.1,
      "position": [
        240,
        0
      ]
    },
    {
      "parameters": {
        "operation": "callPreset",
        "timeoutSeconds": 90,
        "presetEndpoint": "hairstyleChangerPro",
        "bodyParametersJson": "{\n  \"task_type\": \"async\",\n  \"hair_style\": \"LongWavyCurtainBangs\",\n  \"color\": \"black\",\n  \"image_size\": 1,\n  \"mode\": 2\n}",
        "fileFields": {
          "field": [
            {
              "fieldName": "image",
              "binaryPropertyName": "data"
            }
          ]
        }
      },
      "id": "33333333-3333-4333-8333-333333333333",
      "name": "Hairstyle Changer Pro",
      "type": "n8n-nodes-ailabtools.ailabTools",
      "typeVersion": 1,
      "position": [
        520,
        0
      ]
    },
    {
      "parameters": {
        "resume": "timeInterval",
        "amount": 2,
        "unit": "seconds"
      },
      "id": "44444444-4444-4444-8444-444444444444",
      "name": "Wait 2 Seconds",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        760,
        0
      ],
      "webhookId": "b8cef9e8-302d-4322-8829-40bcf5e56b55"
    },
    {
      "parameters": {
        "operation": "queryAsyncTask",
        "timeoutSeconds": 90,
        "taskId": "={{ $(\"Hairstyle Changer Pro\").item.json.task_id }}"
      },
      "id": "55555555-5555-4555-8555-555555555555",
      "name": "Query Async Task Result",
      "type": "n8n-nodes-ailabtools.ailabTools",
      "typeVersion": 1,
      "position": [
        1000,
        0
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "c1",
              "leftValue": "={{ $json.task_status }}",
              "rightValue": 2,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "66666666-6666-4666-8666-666666666666",
      "name": "Is Task Complete?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1240,
        0
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $json.data.images[0] }}",
        "authentication": "none",
        "sendQuery": false,
        "sendHeaders": false,
        "options": {
          "response": {
            "response": {
              "responseFormat": "file",
              "outputPropertyName": "data"
            }
          }
        }
      },
      "id": "77777777-7777-4777-8777-777777777777",
      "name": "Download Result Image",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1480,
        -120
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "88888888-8888-4888-8888-888888888888",
      "name": "AI Agent Tool Demo",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        1000,
        224
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Read Test Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Test Image": {
      "main": [
        [
          {
            "node": "Hairstyle Changer Pro",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Hairstyle Changer Pro": {
      "main": [
        [
          {
            "node": "Wait 2 Seconds",
            "type": "main",
            "index": 0
          }
        ]
      ],
      "ai_tool": [
        [
          {
            "node": "AI Agent Tool Demo",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Wait 2 Seconds": {
      "main": [
        [
          {
            "node": "Query Async Task Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Query Async Task Result": {
      "main": [
        [
          {
            "node": "Is Task Complete?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Task Complete?": {
      "main": [
        [
          {
            "node": "Download Result Image",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait 2 Seconds",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Result Image": {
      "main": [
        []
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "nodeGroups": [],
  "tags": []
}
